name: Deploy to Robocorp Control Room

on:
  workflow_call:
    inputs:
      environment:
        description: 'Environment'
        type: string
        required: true

jobs:
  call-robocorp-install-dependencies:
    uses: ./.github/workflows/robocorp-install-dependencies.yml
  deploy:
    needs: call-robocorp-install-dependencies
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v3

      - name: Restore cache
        uses: actions/cache/restore@v3
        with:
          path: |
            ~/.robocorp
            /user/local/bin/rcc
          key: ${{ runner.os }}-dependencies-${{ hashFiles('**/robot.yaml', '**/conda.yaml') }}

      - name: Deploy to Robocorp Control Room
        run: |
          rcc cloud push --robot ${{ vars.ROBOT_ID }} \
            --workspace ${{ vars.WORKSPACE_ID }} \
            --account ${{ secrets.CR_ACCESS_CREDENTIALS }}:${{ vars.CR_ENDPOINT_URL }}
